[Unit]
Description=a DB service using mongodb

[Service]
Type=simple
ExecStart=/usr/local/bin/db-api
ExecStop=/bin/kill -SIGTERM $MAINPID

[Install]
WantedBy=multi-user.target